<div class="login-title">
  <h1 class="login-header-logo"><a href="#"><span class="blue">N</span><span class="red">o</span><span class="yellow">o</span><span class="blue">f</span><span class="green">e</span><span class="red">l</span></a></h1>
</div>
<div class="login-banner">
  <p>
    Homage to Gmail
  </p>
</div>
<div class="login">

<form class="login-main" action="<%= session_url %>" method="post">
  <div class="profile-login"></div>
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
 <input class="username grey" name="user[email]" type="text" value="Enter your Email"
       onfocus="userValue()" onfocusout="userValue()"><br>
  <input class="password grey" name="user[password]" type="text" value="Password"
       onfocus="passwordValue()" onfocusout="passwordValue()"><br>
  <input type="submit" value="Submit"><br>
</form>
</div>

<div class="new-account">
  <a href="<%= new_user_url %>" class="create-account">Create account</a>
</div>

<div class="demo">
<form class="demo-user" action="<%= session_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input name="user[email]" type="hidden" value="test@noofel.com">
  <input name="user[password]" type="hidden" value="password"><br>
  <input type="submit" value="Demo User"><br>
</form>
</div>


<script type="text/javascript">
  function userValue(){
    var uname = $('.username');
    if(uname.val() == 'Enter your Email'){
      uname.val('');
      uname.removeClass('grey');
      uname.addClass('black');
    }else if(uname.val() == ''){
      uname.val('Enter your Email');
      uname.removeClass('black');
      uname.addClass('grey');
    }else{

    }
  };

  function passwordValue(){
    var pwd = $('.password');
    if( pwd.val() == 'Password'){
      pwd.val('');
      pwd.removeClass('grey').addClass('black');
      pwd.attr('type', 'password');
    }else if (pwd.val() == ''){
      pwd.removeClass('black').addClass('grey');
      pwd.attr('type', 'text');
      pwd.val('Password');
    }else{

    }
  }
</script>
