<% var date = new Date(thread.escape('created_at') ) %>
<span class="checkbox">
  <div class="checkbox-box <% if(thread.escape('is_checked') === 'true'){ %> is-checked <% } %>"></div>
</span>
<div class="star <% if (thread.escape('is_starred') === 'true'){ %> is-starred <% } else { %> is-not-starred <% } %>"></div>
<div class="importance <% if (thread.escape('is_important') === 'true'){ %> is-important <% } else { %> is-not-important <% } %>" ></div>
<span class="from"><span><%= last.from %> <% if (last.is_draft === "true"){ %>
<span class="draft">Draft</span>
<% }; %>  </span></span>
<span class="subject_body" ><%= thread.escape('subject') %> - <div class="grey"><%= last.body %></div></span>
<span class="paperclip" > <% if (edit == true) { %> <a href="#/emails/<%= email.escape('id') %>/edit">Edit</a><% } %></span>
<span class="date_time"> <%= thread.getDateOrTime() %></span>
